* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}

.container {
  width: 1100px;
  margin: auto;
}

.title {
  text-align: center;
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 35px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

///// header /////
.header {
  display: flex;
  justify-content: space-between;
  height: 470px;
  margin-bottom: 35px;
  background-color: #f3f1f1;
  background-image: url(../images/banner2.png);
  background-position: left;
  background-size: 50%;
  background-repeat: no-repeat;
  box-shadow: -200px -6px 99px 33px rgba(0, 0, 0, 0.22) inset;
  -webkit-box-shadow: -200px -6px 99px 33px rgba(0, 0, 0, 0.22) inset;
  -moz-box-shadow: -200px -6px 99px 33px rgba(0, 0, 0, 0.22) inset;
}

.banner {
  display: block;
  width: 100%;
  text-align: right;
  margin-top: 320px;
  padding-right: 70px;
  line-height: 10px;
}

.banner_name {
  font-size: 65px;
}

.banner_description {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 20px;
  color: rgb(216, 0, 65);
}

/////// navigation ///////

.nav_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav_list--item {
  background-color: #005244;
  text-transform: uppercase;
  line-height: 50px;
  border-radius: 8px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:hover {
    background-color: rgb(216, 0, 65);
    transition-duration: 0.5s;
    transform: translate(-59px, 0px);
    -webkit-transform: translate(-59px, 0px);
    -moz-transform: translate(-59px, 0px);
  }
}

.nav_list--link {
  height: 50px;
  width: 250px;
  color: white;
}

.navigation_item {
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  padding: 3px;
}

.nav_socials {
  height: 50px;
}

.icon-nav {
  margin-right: 20px;
}

.icon_social {
  margin: 5px;
}

.social_list,
.footer_list {
  display: flex;
  justify-content: center;
}

////////// contact /////////

.contact-flex {
  display: flex;
}

.contact-text {
  color: black;
}

.contacts_list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
}

.contacts_list--item {
  width: 30%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 7%;
  line-height: 70px;
  font-size: 18px;

  &:hover {
    font-weight: bold;
  }

  &:hover .image {
    border: 2px solid rgb(216, 0, 65);
    background-color: rgba(216, 0, 65, 0.1);
    border-radius: 8px;
    transition-duration: 1s;
  }
}

.image {
  border-left: 2px solid #005244;
  padding: 10px;
  margin-right: 20px;
}

///////// about /////////
.about_list {
  display: flex;
  justify-content: space-between;
}

.about_list--title {
  margin-bottom: 15px;
}

.about-child {
  background-color: #f3f1f1;
  padding: 15px;
  border-left: 2px solid #005244;
  -webkit-box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.11);
}

.qualities_content {
  height: 100%;
  width: 600px;
  text-align: justify;
}

.languages_list {
  width: 400px;
}

////////// education /////////

.ed-flex {
  display: flex;
}

.image-study {
  margin-right: 20px;
}

.education_list--item:first-child {
  margin-bottom: 25px;
}

.institut {
  font-weight: bold;
  font-size: 20px;
}

.time {
  display: inline-block;
  background-color: #f3f1f1;
  font-size: 16px;
  margin-left: 15px;
  font-style: italic;
  margin-bottom: 15px;
}

////////// skills //////////

.skillbar {
  position: relative;
  display: block;
  width: 40%;
  margin-bottom: 20px;
}

.skillbar__headway:before {
  background: #dbdada;
  content: '';
  height: 8px;
  position: absolute;
  width: 100%;
  border-radius: 8px;
  z-index: -1;
}

.skillbar__headway {
  height: 8px;
  width: 0px;
  background: #005244;
  transition-property: width, background-color;
  border-radius: 20px;
  margin-top: 5px;
}

.skillbar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.skillbar__title {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 400;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 1px;
}

.skillbar__percent {
  display: inline-block;
  color: rgb(216, 0, 65);
  font-weight: 600;
  text-transform: uppercase;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skillbar__html,
.skillbar__css,
.skillbar__bem,
.skillbar__adap,
.skillbar__cross,
.skillbar__psd {
  width: 100%;
}

.skillbar__js {
  width: 60%;
}

.skillbar__bootstrap {
  width: 85%;
}

.skillbar__sass {
  width: 75%;
}

.skillbar__webpack {
  width: 80%;
}

.skillbar__gulp,
.skillbar__git {
  width: 70%;
}

//////// experience //////

.main-experience {
  width: 700px;
  margin: auto;
}

.all_description {
  text-align: center;
  font-style: italic;
  margin-top: 15px;
}

.experience-list {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
}

// The line //
.experience-list:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 3px;
  background: rgb(216, 0, 65);
  left: 138px;
  margin-left: -10px;
}

// The date/time //
.experience-list > li .time-list {
  display: block;
  width: 25%;
  padding-right: 100px;
  position: absolute;
  font-size: 16px;
}

.experience-list > li .time-list span {
  display: block;
  text-align: right;
}

.experience-list > li .time-list span:last-child {
  color: #005244;
  font-weight: bold;
}

.experience-list > li:nth-child(odd) .time-list span:last-child {
  color: #005244;
}

// Right content //
.experience-list > li .list-label {
  margin: 0 0 15px 25%;
  background: #f3f1f1;
  color: black;
  padding: 15px;
  position: relative;
  border-radius: 5px;
}

.experience-list > li:nth-child(odd) .list-label {
  background: #dfdede;
}

.experience-list > li .list-label h3 {
  margin-top: 0px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

/* The triangle */
.experience-list > li .list-label:after {
  right: 100%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  border-right-color: #f3f1f1;
  border-width: 10px;
  top: 10px;
}

.experience-list > li:nth-child(odd) .list-label:after {
  border-right-color: #dfdede;
}

/* The icons */
.experience-list > li .tmicon {
  width: 20px;
  height: 20px;
  position: absolute;
  background: rgb(216, 0, 65);
  border-radius: 50%;
  text-align: center;
  left: 145px;
  top: 0;
  margin: 0 0 0 -25px;
}

//////// portfolio////////

.portfolio_list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  margin-bottom: 50px;
}

.portfolio_list--item {
  width: 350px;
  border: 1px solid #f3f1f1;
  box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.11);
  align-self: stretch;
  text-align: justify;

  &:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

.portfolio-img {
  display: block;
  margin: auto;
  width: 100%;
  border-bottom: 1px solid #e0dfdf;
}

.description-button {
  width: 310px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin: auto;
}

.portfolio-name {
  margin-top: 10px;
  font-style: italic;
  font-weight: bold;
  background-color: #f3f1f1;
}

.portfolio_description {
  margin-top: 15px;
  margin-bottom: 15px;
}

.portfolio-button {
  display: flex;
  margin-bottom: 5px;
}

.portfolio_link {
  background-color: #005244;
  border-radius: 5px;
  color: white;
  width: 100px;
  height: 25px;
  text-align: center;
  line-height: 25px;

  &:first-child {
    margin-right: 5px;
  }

  &:hover {
    background-color: rgb(216, 0, 65);
    transition-duration: 0.5s;
  }
}

//////// download ///////@extend
.dowmload-link {
  display: block;
  width: 650px;
  height: 35px;
  margin: auto;
  background-color: #005244;
  border-radius: 7px;
  color: white;
  text-align: center;
  line-height: 35px;
  margin-bottom: 35px;
  font-size: 20px;

  &:hover {
    background-color: rgb(216, 0, 65);
    transition-duration: 0.5s;
  }
}

/////////// footer ////////////
.footer {
  background-color: #005244;
  height: 90px;
}

.footer_list {
  display: flex;
}

.icon-footer {
  margin: 23px 10px;
}
